h1, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
  display: inline;
  color: white;
  background-color: #4aaaa5;
  padding: 4px;
}

.content {
  width: 960px;
  display: inline;
}

#top-bar {
  margin-bottom: 15px;
  border-bottom:
}

#page-links {
  float: right;
}

#main {
  width: 650px;
  float: left;
}

#sidebar {
  width: 270px;
  float: right;

}

#sidebar img {
  height: 50px;
}
